table {
    margin-left: auto;
    margin-right: auto;
  }

#next-season {
  margin: auto;
  text-align: center;
}

#player-action-text {
  margin: auto;
  text-align: center;
}

#action-specific-text {
  margin: auto;
  text-align: center;
}

#game-over {
  margin: auto;
  text-align: center;
}
#years-survived{
  margin: auto;
  text-align: center;
}

.tile {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  white-space: pre;
  }

.tile-fall {
  background: orange;
}

.tile-winter {
  background: rgb(138, 248, 250);
}

.tile-spring {
  background: rgb(71, 137, 71);
}

.tile-summer {
  background: blanchedalmond;
}

.tile-barren {
  background: grey;
}

.tile-permafrost {
  background: rgb(4, 0, 255);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}